.profile {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 4px;
}

.upload {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
}

.upload:hover {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  cursor: pointer;
}