.entity {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  color: #000000;   
  cursor: pointer;
}

.entity:hover {
  background: rgba(0, 0, 0, 0.04);
}

.thumbnail {
  position: relative;
  cursor: pointer;
  display: flex;
}

.edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  opacity: 0;
  border-radius: 4px;
  z-index: 1;
}

.edit:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}